
.icons{  
    width: 72px;
    height: 40px;
    margin: 10px;
    border-radius: 5px;
    background-color: #FF9500;
    color: #fff;
}
.buttons{  
    width: 72px;
    height: 40px;
    margin: 10px;
    border-radius: 5px;
    background-color: #505050;
    color: #fff;
}
