.bContainer{
    height: 80%;
    margin: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.buttons{
    
    width: 72px;
    height: 40px;
    margin: 10px;
    border-radius: 5px;
}
.primary{
    background-color: blue;
    width: 60%;
}

.danger{
    background-color: red;
}